@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";

.alert,
.btn,
.card,
.form-control {
  border-radius: 0.175em !important;
}

input:focus {
  box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.25) !important;
}

.form-control-lg::placeholder {
  font-size: 1rem;
  color: #a7a7a7 !important;
}

.btn-lg {
  font-size: 1rem;
}

.invalid {
  border-color: red;
}

.hover-shadow:hover {
  box-shadow: 1px 0px 2px dimgray;
}

.text-small {
  font-size: 0.85rem;
}

.pointer {
  cursor: pointer;
}
